/* You can add global styles to this file, and also import other style files */
* {
    box-shadow: 0 0 0 3px red;
    inset: initial;
}

#footer {
    position: fixed;
    background-color: #00204B;
    color: azure;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding: 20px;
}

#search {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}